#menuToggle {
    user-select: none;
    position: fixed;
    z-index: 10000;
}

#menuToggle a {
    font-weight: bold;
    color: black;
    transition: color 0.25s ease;
    text-decoration: none;
    float: left;
    padding-left: 5%;
    padding-right: 5%;
}

#menuToggle a:hover {
    background-color: LightCyan;
}

#menuToggle a.dark:hover {
    background-color: #007ACC;
    border-radius: 10px;
}

#menu {
    position: fixed;
    width: 100%;
    margin: 0;
    background: LightBlue;
    list-style-type: none;
}

#menu li {
    padding: 20px 0;
    font-size: 16px;
}